# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.env.*
venv/
build/
dist/
*.egg-info/
# VS Code
.vscode/
# OS
.DS_Store
Thumbs.db
downloads*
direct_test*
test-downloads*
create_repo*
test_workflow*
WARP*